{#
/**

{% extends '@biopama_libraries/biopama-dashboard-menu.html.twig' %}

This card requires the following to operate correctly:
Variables:
menu_name: obvious
dashboard_url: path back to the dashboard mainpage

blocks:
left_menu: each dashboard comes with its own left menu
 */
#}

<div class="container-fluid text-bg-dark opacity-75 p-3">
	<h5>{{ menu_name }} Dashboard</h5>
	<div class="bio-divider p-3"></div>
	<a href="{{ dashboard_url }}">
		<div class="row dashboard-left-menu-item mx-1 px-1 text-white align-items-center">
			<div class="col-4 text-align-center"><i class="fa-solid fa-house"></i></div>
			<div class="col-8">{{ menu_name }} Home</div>
		</div>
	</a>
	{% block left_menu %}
	{% endblock %}
</div>
