{#
/**

{% extends '@biopama_libraries/biopama-collapsible-card.html.twig' %}

This card requires the following to operate correctly:
Variables:
title: obvious
class: the bootstrap class (or custom) for coloring the collapse - eg: text-warning
icon: full icon classes from fontawesome - eg: fa-solid fa-gauge
id: a unique id (no spaces) that allows the collapse function to work on multiple rows in a page.

blocks:
collapse_content: the stuff that gets expanded when the collapse trigger is clicked *Default not provided*
 */
#}
{% set cardId = id|replace({'&': 'and', ' ': ''}) %}
<div class="card {{ class }}">
    <h5 class="biopama-collapse card-title d-flex justify-content-between p-3 m-0" id="card-title-{{ cardId }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ cardId }}" aria-expanded="false" aria-controls="collapse{{ cardId }}"><div class="inner-card-title"><i class="{{ icon }} me-3"></i>{{ title }}</div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div></h5> 
    <div class="collapse wrapper-data-card p-3" id="collapse{{ cardId }}"> 
        {% block collapse_content %}
        {% endblock %}
    </div>
</div> 
