{#
/**

{% extends '@biopama_libraries/biopama-dashboard-page-intro-node.html.twig' %}

This card requires the following to operate correctly:
Variables:
title: obvious
sub_title: obvious
edit_url: path back to the dashboard mainpage
blocks:
body: the intro node body text

 */
#}

<h2 class="text-align-center">{{ title }}</h2>
<h5 class="text-align-center mb-0">{{ sub_title }}</h5>
{% block body %}
{% endblock %}
{% if user.hasPermission('administer nodes') %}
    <a class="btn btn-light my-2" href="{{ edit_url }}" role="button">Edit</a>
{% endif %}

