{#
/**

{% extends '@biopama_libraries/biopama-collapsible-card.html.twig' %}

This card requires the following to operate correctly:
Variables:
id: must be unique, no spaces or special characters
title: obvious
buttonclass: the bootstrap class (or custom) for coloring the button - eg: text-warning
content: the modal content
 */
#}

<!-- Modal -->
<div class="modal fade" id="{{ id }}Modal" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ id }}ModalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        {{ content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>